extends ../layout

block content
    h1 #{title}
    p
        a.button(href='/loans/add') Create New Loan
    p Filters 
        a(href='/loans') All 
        |  |  
        a(href='/loans?filter=overdue') Overdue 
        |  | 
        a(href='/loans?filter=checked') Checked Out 
    include ../partials/loans_table